/JSFLab/target/
/PrimeFaces/target/
/Requests/target/
/RESTful Web Services/Complaints/target/
/RESTful Web Services/ComplaintsClient/target/
/MDBLab/nbproject/private/
/MDBLab/MDBLab-war/nbproject/private/
/MDBLab/MDBLab-ejb/nbproject/private/
/MDBLab/MDBLab-ejb/build/
/MDBLab/MDBLab-war/build/
/MDBLab/build/
/MDBLab/MDBLab-war/dist/
/MDBLab/MDBLab-ejb/dist/
/MDBLab/dist/